*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.container{
  display: flex;
  flex-direction:column;
}
.container-header{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 10vh;
  position: fixed;
  z-index: 1;
  box-shadow: 0 3px 5px rgba(0,0,0,0.1);
  background-color: #fff;
  width: 100%;

}
.container-header .col1{
  width: 20%;
  display: flex;
  justify-content: center;
}
.col1 .logo{

}
.container-header .col2{
  width: 80%;
  display: flex;
}
.menu{
  width: 100%;
}
.menu .list{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
}
.list .item{
  margin: 0px 30px 0px 30px;
}
.list .item a{
  text-decoration: none;
  font-size: 14px;
  color: #3a3a3a;
}
main {
  margin-top: 69px;
  display: flex;
  flex-flow: column wrap;
}
.section-top{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-image: url(b1.jpg);
  width: 100%;
  height: 500px;
}
.section-top img{
  width: 70%;
}
.section-top article{
  width: 30%;
  display: flex;
  flex-flow: column wrap;
}
.section-top article h1{
  width: 100%;
  color: #fff;
  font-size: 30px;
  padding: 1px 4px 3px;
  margin: 0px;
  font-weight: 100;
  border-width: 0px;
  line-height: 34px;
}
.section-top article ul{
  padding: 10px;
  width: 100%;
  list-style: none;
}
.section-top article ul li{
  padding: 0px;
  color: #fff;
  font-size: 16px;
  margin: 0px;
  font-weight: 200;
  border-width: 0px;
  line-height: 35px;
}
.info{
  width: 100%;
  padding: 30px;
  height: 45vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.box{
  text-align: center;
  width: 30%;
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.box i {
  padding: 25px;
  background-color: red;
  font-size: 30px;
  border: none;
  border-radius: 50%;
  color: #fff;
  background: #35bff0 url(1.png) center center;
}
.box h4{
  padding: 10px;
  margin-top: 10px;;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #3A3A3A;
  font-weight: 400;
}
.box p{
  padding: 10px;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 0 0;
  color: #9d9d9d;
}
.thumbnails{
  background-color: #eff3f6;
  height: 70vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 80px;
}
.box-info{
  width: 262.500px;
  height: 260px;
  display: flex;
  flex-flow: row wrap;
}
.box-info h5{
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #3A3A3A;
  font-weight: 400;
}
.box-info p{
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 0 0;
  color: #9d9d9d;
}
.box-info a{
  width: 100%;
  padding: 12px 24px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: #35bff0 url(1.png) center center;
  transition: color 0.3s, background 0.3s;
}
.box-info a:hover{
  background: #2d92b6 url(1.png) center center;
}
.container-footer{
  background-image: url(footer.jpg);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 50px;
}
.box-footer{
  width: 20%;
}
.box-footer-img{
  text-align: center;
}
.box-footer h5{
  font-size: 18px;
  color: rgb(190, 190, 190);
  border-bottom: 1px solid #B3B3B3;
  padding: 15px 0px;
}
